# Assignment 5

In [1]:
import pandas as pd
file = r'C:/Users/User/Downloads/archive (8)/restaurant.csv'
df = pd.read_csv(file)
df.head(20)# prints only first 20 values from the data

,Restaurant_id,City,Cuisine Style,Ranking,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,id_0,Paris,"['Bar', 'Pub']",12963.0,$$ - $$$,4.0,"[[], []]",/Restaurant_Review-g187147-d10746918-Reviews-L...,d10746918
1,id_1,Helsinki,"['European', 'Scandinavian', 'Gluten Free Opti...",106.0,$$ - $$$,97.0,"[['Very good reviews!', 'Fine dining in Hakani...",/Restaurant_Review-g189934-d6674944-Reviews-Ra...,d6674944
2,id_2,Edinburgh,['Vegetarian Friendly'],810.0,$$ - $$$,28.0,"[['Better than the Links', 'Ivy Black'], ['12/...",/Restaurant_Review-g186525-d13129638-Reviews-B...,d13129638
3,id_3,London,"['Italian', 'Mediterranean', 'European', 'Vege...",1669.0,$$$$,202.0,"[['Most exquisite', 'Delicious and authentic']...",/Restaurant_Review-g186338-d680417-Reviews-Qui...,d680417
4,id_4,Bratislava,"['Italian', 'Mediterranean', 'European', 'Seaf...",37.0,$$$$,162.0,"[['Always the best in bratislava', 'Very good ...",/Restaurant_Review-g274924-d1112354-Reviews-Ma...,d1112354
5,id_5,Paris,"['French', 'Cafe', 'Fast Food']",5093.0,$,24.0,"[['Lunch Break', 'Good to Quick Bite'], ['09/0...",/Restaurant_Review-g187147-d8458643-Reviews-Le...,d8458643
6,id_6,Lisbon,"['European', 'Portuguese']",3704.0,$,2.0,"[[], []]",/Restaurant_Review-g189158-d8758873-Reviews-Li...,d8758873
7,id_7,Budapest,NaN,2330.0,NaN,NaN,"[[], []]",/Restaurant_Review-g274887-d8286886-Reviews-Be...,d8286886
8,id_8,Helsinki,"['European', 'Scandinavian']",771.0,NaN,2.0,"[['Big group supper', 'Good food but very slow...",/Restaurant_Review-g189934-d12947542-Reviews-B...,d12947542
9,id_9,Stockholm,['Italian'],605.0,NaN,13.0,"[['Good food', 'Good pizza'], ['12/02/2017', '...",/Restaurant_Review-g189852-d12716384-Reviews-I...,d12716384
10,id_10,Rome,NaN,1209.0,NaN,306.0,"[['Very pretentious, but drinks are top notch'...",/Restaurant_Review-g187791-d7818546-Reviews-Je...,d7818546
11,id_11,Milan,['Italian'],4234.0,$$ - $$$,36.0,"[['GREAT APERITIVO WITH STYLE', 'Disappointing...",/Restaurant_Review-g187849-d7209625-Reviews-M_...,d7209625
12,id_12,Munich,['Greek'],1987.0,$,10.0,[['You always feel very Welcome at this cozy.....,/Restaurant_Review-g187309-d958943-Reviews-Wro...,d958943
13,id_13,Hamburg,NaN,1000.0,NaN,30.0,"[['Surprisingly good pizza', 'Yummy'], ['09/28...",/Restaurant_Review-g187331-d1344523-Reviews-Il...,d1344523
14,id_14,Prague,"['European', 'Czech', 'Eastern European', 'Cen...",1105.0,$$ - $$$,273.0,"[['Good food, beer, value and service', 'Eat u...",/Restaurant_Review-g274707-d1093021-Reviews-U_...,d1093021
15,id_15,Paris,['French'],12899.0,$,39.0,"[['Very nice food and staff', 'Lovely service ...",/Restaurant_Review-g187147-d7605609-Reviews-Le...,d7605609
16,id_16,Milan,"['Pizza', 'Vegetarian Friendly', 'Vegan Options']",1825.0,$$ - $$$,322.0,"[['truly Neapolitan pizza, new/slick location'...",/Restaurant_Review-g187849-d11850449-Reviews-P...,d11850449
17,id_17,London,"['Bar', 'British', 'Pub', 'Vegetarian Friendly...",2349.0,$$ - $$$,282.0,"[['Quite a decent pub', 'in the middle of noth...",/Restaurant_Review-g186338-d2188276-Reviews-Th...,d2188276
18,id_18,Vienna,NaN,3360.0,NaN,2.0,"[[], []]",/Restaurant_Review-g190454-d8435085-Reviews-An...,d8435085
19,id_19,Dublin,"['Italian', 'Pizza', 'European', 'Gluten Free ...",717.0,$$ - $$$,102.0,"[['Local joy', 'Cozy, cute and good food'], ['...",/Restaurant_Review-g186605-d2177920-Reviews-Bi...,d2177920

# Get the Bing Liu lexicon

In [2]:
from sklearn import preprocessing
import nltk
nltk.download('opinion_lexicon')
from nltk.corpus import opinion_lexicon
from nltk.tokenize import word_tokenize

print('Total number of words in opinion lexicon', len(opinion_lexicon.words()))
print('Examples of positive words in opinion lexicon',
      opinion_lexicon.positive()[:10])
print('Examples of negative words in opinion lexicon',
      opinion_lexicon.negative()[:10])

Total number of words in opinion lexicon 6789
Examples of positive words in opinion lexicon ['a+', 'abound', 'abounds', 'abundance', 'abundant', 'accessable', 'accessible', 'acclaim', 'acclaimed', 'acclamation']
Examples of negative words in opinion lexicon ['2-faced', '2-faces', 'abnormal', 'abolish', 'abominable', 'abominably', 'abominate', 'abomination', 'abort', 'aborted']

[nltk_data] Downloading package opinion_lexicon to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package opinion_lexicon is already up-to-date!

# creating the dictionary

In [3]:
# Let's create a dictionary which we can use for scoring our review text
nltk.download('punkt')
df.rename(columns={"reviewText": "text"}, inplace=True)
pos_score = 1
neg_score = -1
word_dict = {}
 
# Adding the positive words to the dictionary
for word in opinion_lexicon.positive():
        word_dict[word] = pos_score
      
# Adding the negative words to the dictionary
for word in opinion_lexicon.negative():
        word_dict[word] = neg_score

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

# function to do math

In [11]:
def bing_liu_score(text):
    sentiment_score = 0
    bag_of_words = word_tokenize(text.lower())
    for word in bag_of_words:
        if word in word_dict:
            sentiment_score += word_dict[word]
    return sentiment_score

In [12]:
# Fill missing values in 'text' column with 'no review'
df['Reviews'].fillna('no review', inplace=True)

# Apply bing_liu_score function to each text in 'text' column and store results in 'Bing_Liu_Score' column
df['Bing_Liu_Score'] = df['Reviews'].apply(bing_liu_score)

In [13]:
df[['Ranking',"Reviews", 'Bing_Liu_Score']].head(10)

   Ranking                                            Reviews  Bing_Liu_Score
0  12963.0                                           [[], []]               0
1    106.0  [['Very good reviews!', 'Fine dining in Hakani...               1
2    810.0  [['Better than the Links', 'Ivy Black'], ['12/...               0
3   1669.0  [['Most exquisite', 'Delicious and authentic']...               2
4     37.0  [['Always the best in bratislava', 'Very good ...               1
5   5093.0  [['Lunch Break', 'Good to Quick Bite'], ['09/0...              -1
6   3704.0                                           [[], []]               0
7   2330.0                                           [[], []]               0
8    771.0  [['Big group supper', 'Good food but very slow...              -1
9    605.0  [['Good food', 'Good pizza'], ['12/02/2017', '...               0

In [14]:
df.groupby('Ranking').agg({'Bing_Liu_Score':'mean'})

         Bing_Liu_Score
Ranking
2.0            1.000000
3.0            0.000000
4.0            0.666667
5.0            1.500000
6.0            0.500000
...                 ...
16392.0       -2.000000
16395.0       -1.000000
16426.0       -1.000000
16431.0        0.000000
16443.0        0.000000

[5914 rows x 1 columns]